.hero-section {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('/images/background_journal.jpg') no-repeat center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    z-index: -1;
}
    .hero-section::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4); /* Greys out the background picture not to be so bright*/
        z-index: -1;

    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}
body {
    background-color: #0d0d0d;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
}

.page-title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-shadow: 0 0 5px #00ff00;
}

.entry-form input,
.entry-form textarea {
    width: 100%;
    background: #1a1a1a;
    border: 1px solid #00ff00;
    color: #00ff00;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.entry-form button {
    background: transparent;
    color: #00ff00;
    border: 1px solid #00ff00;
    padding: 10px 20px;
    cursor: pointer;
}

    .entry-form button:hover {
        background: #00ff00;
        color: #0d0d0d;
    }

.entry-list {
    margin-top: 30px;
    color: #00ff00;
}

.entry-item {
    margin-bottom: 20px;
    color: #00ff00;
}

.question-box {
    color: #00ff00;
}

#wordCloudCanvas {
    position: relative;
    z-index: 10;
    display: block;
    border: 2px solid lime; /* Just for testing visibility */
}

