.quiz-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.quiz-card {
    background-color: #d1d1d1;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

    .quiz-card:hover {
        transform: scale(1.03);
    }

    .quiz-card img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 8px;
    }

    .quiz-card h3 {
        margin-top: 10px;
    }